.glow-border {
  box-shadow: 0 0 15px 5px rgba(234, 179, 8, 0.8);
}

/* @keyframes spin-orbit {
  0% {
    transform: rotate(0deg) translateX(125px) rotate(0deg); 
  }
  100% {
    transform: rotate(360deg) translateX(125px) rotate(-360deg);
  }
}

.animate-spin-orbit {
  animation: spin-orbit 4s linear infinite;
}

.glow-element {
  box-shadow: 0 0 10px 5px rgba(234, 179, 8, 0.8); 
} */
